anyio==4.2.0
astroid==3.0.3
beautifulsoup4==4.12.3
blinker==1.7.0
Brotli==1.1.0
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
dill==0.3.8
Flask==3.0.2
Flask-Cors==4.0.0
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.3
idna==3.6
isort==5.13.2
itsdangerous==2.1.2
Jinja2==3.1.3
lxml==5.1.0
MarkupSafe==2.1.5
mccabe==0.7.0
mutagen==1.47.0
packaging==23.2
platformdirs==4.2.0
pycryptodomex==3.20.0
pylint==3.0.3
pylrc==0.1.2
pytube==15.0.0
requests==2.31.0
sniffio==1.3.0
soupsieve==2.5
tomlkit==0.12.3
urllib3==2.2.0
websockets==12.0
Werkzeug==3.0.1
ytmusicapi==1.5.2
